/* Created by Tivotal */

/* Google Fonts(Poppins) */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background: coral;
  color: #fff;
}

body {
  min-height: 100vh;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, coral, lightseagreen);
}

.wrapper {
  width: 380px;
  background: #fff;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
}

.wrapper header {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  color: coral;
}

.wrapper form {
  margin: 40px 0 20px 0;
}

.wrapper form input,
.wrapper form select,
.wrapper form button {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 8px;
}

.wrapper form p {
  font-size: 18px;
  margin-bottom: 10px;
  color: coral;
}

.wrapper form input {
  height: 50px;
  padding: 0 15px;
  border: 1px solid #ccc;
  font-size: 17px;
}

.wrapper form input:focus {
  border: 2px solid coral;
  padding: 0 14px;
}

.wrapper form .drop-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.wrapper form .drop-list .select-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 45px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.wrapper form .drop-list .select-box img {
  max-width: 24px;
}

.wrapper form .drop-list .select-box select {
  width: auto;
  font-size: 16px;
  background: none;
  margin: 0 -5px 0 5px;
}

.wrapper form .drop-list .select-box select::-webkit-scrollbar {
  width: 8px;
}

.wrapper form .drop-list .select-box select::-webkit-scrollbar-track {
  background: #fff;
}

.wrapper form .drop-list .select-box select::-webkit-scrollbar-thumb {
  background: #bbb;
  border-radius: 5px;
  border-right: 2px solid #fff;
}

.wrapper .drop-list .icon {
  font-size: 24px;
  margin-top: 30px;
  cursor: pointer;
  color: coral;
}

.wrapper form .exchange_rate {
  font-size: 16px;
  margin: 20px 0 30px;
  color: coral;
}

.wrapper form button {
  height: 52px;
  background: coral;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.wrapper form button:hover {
  background: transparent;
  color: coral;
  border: 2px solid coral;
}
